#!/bin/bash

# This ist the Zamba main configuration file.
# Please adjust the settings to your needs before running the installer.

# Authors:
# (C) 2021 Idea an concept by Christian Zengel <christian@sysops.de>
# (C) 2021 Script design and prototype by Markus Helmke <m.helmke@nettwarker.de>
# (C) 2021 Script rework and documentation by Thorsten Spille <thorsten@spille-edv.de>


############### Linux Container Section ###############

# Defines the Proxmox storage where your LXC container template are stored (default: local)
LXC_TEMPLATE_STORAGE="local"

# Defines the size in GB of the LXC container's root filesystem (default: 32)
# Depending on your environment, you should consider increasing the size for use of `mailpiler` or `matrix`.
LXC_ROOTFS_SIZE="32"
# Defines the Proxmox storage where your LXC container's root filesystem will be generated (default: local-zfs)
LXC_ROOTFS_STORAGE="local-zfs"

# Defines the size in GB your LXC container's filesystem shared by Zamba (AD member & standalone) (default: 100)
LXC_SHAREFS_SIZE="100"
# Defines the Proxmox storage where your LXC container's filesystem shared by Zamba will be generated (default: local-zfs)
LXC_SHAREFS_STORAGE="local-zfs"
# Defines the mountpoint of the filesystem shared by Zamba inside your LXC container (default: tank)
LXC_SHAREFS_MOUNTPOINT="tank"

# cpu core count (default: 0 = unlimited)
LXC_THREADS=0

# Defines the amount of RAM in MB your LXC container is allowed to use (default: 1024)
LXC_MEM=1024

# Defines the amount of swap space in MB your LXC container is allowed to use (default: 1024)
LXC_SWAP=1024

# Defines the hostname of your LXC container
LXC_HOSTNAME="${service}"

# Defines the domain name / search domain of your LXC container
LXC_DOMAIN="zmb.rocks"

# Enable DHCP on LAN (eth0) - (Obtain an IP address automatically) [true/false]
LXC_DHCP=false

# Defines the local IP address and subnet of your LXC container in CIDR format
LXC_IP="192.168.100.200/24"

# Defines the default gateway IP address of your LXC container
LXC_GW="192.168.100.254"

# Defines the DNS server ip address of your LXC container
# `zmb-ad` used this DNS server for installation, after installation and domain provisioning it will be used as forwarding DNS
# For other services this should be your active directory domain controller (if present, else a DNS server of your choice)
LXC_DNS="192.168.100.254"

# Defines the network bridge to bind the network adapter of your LXC container
LXC_BRIDGE="vmbr0"

# Defines the vlan id of the LXC container's network interface, if the network adapter should be connected untagged, just leave the value empty.
LXC_VLAN=NONE

# Defines the `root` password of your LXC container. Please use 'single quatation marks' to avoid unexpected behaviour.
LXC_PWD='Start!123'

# Defines an authorized_keys file to push into the LXC container.
# By default the authorized_keys will be inherited from your proxmox host.
LXC_AUTHORIZED_KEY=~/.ssh/authorized_keys

# Define your (administrative) tools, you always want to have installed into your LXC container
LXC_TOOLSET="vim htop net-tools dnsutils sysstat mc"

# Define the local timezone of your LXC container (default: Euroe/Berlin)
LXC_TIMEZONE="Europe/Berlin"

# Define system language on LXC container (locales)
# With this paramater you can generate additional locales, the default language will be inherited from proxmox host.
# en_US.UTF-8  english
# de_DE.UTF-8  german (default)
LXC_LOCALE="de_DE.UTF-8"

# Set dark background for vim syntax highlighting (0 or 1)
LXC_VIM_BG_DARK=1

# Default random password length
LXC_RANDOMPWD=32

# Automatically add meta tags to lxc container
LXC_AUTOTAG=1

# Add meta tags to linux container
LXC_TAGS="linux,debian,${service}"

############### Zamba-Server-Section ###############

# Defines the REALM for the Active Directory (AD DC, AD member)
ZMB_REALM="ZMB.ROCKS"
# Defines the domain name in your Active Directory or Workgroup (AD DC, AD member, standalone)
ZMB_DOMAIN="ZMB"

# Defines the name of your domain administrator account (AD DC, AD member, standalone)
ZMB_ADMIN_USER="administrator"
# The admin password for zamba installation. Please use 'single quatation marks' to avoid unexpected behaviour
# `zmb-ad` domain administrator has to meet the password complexity policy, if password is too weak, domain provisioning will fail
ZMB_ADMIN_PASS='Start!123'

# Defines the name of your Zamba share
ZMB_SHARE="share"

############### Mailpiler-Section ###############

# Defines the (public) FQDN of your piler mail archive
PILER_FQDN="mailpiler.zmb.rocks"
# Defines the smarthost for piler mail archive
PILER_SMARTHOST="mail.zmb.rocks"

############### Matrix-Section ###############

# Define the FQDN of your Matrix server
MATRIX_FQDN="matrix.zmb.rocks"

# Define the FQDN for the Element Web virtual host
MATRIX_ELEMENT_FQDN="element.zmb.rocks"

# Define the administrative user of matrix service
MATRIX_ADMIN_USER="admin"

# Define the admin password
MATRIX_ADMIN_PASSWORD='Start!123'

############### Nextcloud-Section ###############

# Define the FQDN of your Nextcloud server
NEXTCLOUD_FQDN="nextcloud.zmb.rocks"

# The initial admin-user which will be configured
NEXTCLOUD_ADMIN_USR="zmb-admin"

# Build a strong password for this user. Username and password will shown at the end of the installation. 
# NEXTCLOUD_ADMIN_PWD='very_secure_password'

# Defines the data directory, which will be createt under LXC_SHAREFS_MOUNTPOINT
NEXTCLOUD_DATA="nc_data"

# Defines the trusted reverse proxy, which will enable the detection of source ip to fail2ban
NEXTCLOUD_REVPROX="192.168.100.254"

############### Check_MK-Section ###############

# Define the name of your checkmk instance
CMK_INSTANCE=zmbrocks

# Define the password of user 'cmkadmin'
CMK_ADMIN_PW='Start!123'

# checkmk edition (raw or free)
# raw = completely free
# free = limited version of the enterprise edition (25 hosts, 1 instance)
CMK_EDITION=raw

############### Kopano-Section ###############

# Define the FQDN of your Nextcloud server
KOPANO_FQDN="kopano.zmb.rocks"

# Defines the trusted reverse proxy, which will enable the detection of source ip to fail2ban
KOPANO_MAILGW="192.168.100.254"

# Kopano test- or subscription-key offerd from 
# https://kopano.com/downloads-demo/?demo=Kopano+Groupware&headline=Packages&target=Debian+10
KOPANO_REPKEY="1234567890abcdefghijklmno"

############### vaultwarden Section ###############

# Enable/disable signups (true/false)
VW_SIGNUPS_ALLOWED=false

# Hostname of your mailserver
VW_SMTP_HOST=mail.bashclub.org

# email address to send from
VW_SMTP_FROM="vaultwarden@bashclub.org"

# display name to send from
VW_SMTP_FROM_NAME="Vaultwarden Password Manager"

# port of your mailserver
VW_SMTP_PORT=587

# use ssl?
VW_SMTP_SSL=true

# use starttls?
VW_SMTP_EXPLICIT_TLS=false

# username of your mailbox
VW_SMTP_USERNAME=vaultwarden@bashclub.org

# password of your mailbox
VW_SMTP_PASSWORD='<yourEmailPassword>'

############### ansible-semaphore Section ###############

SEMAPHORE_ADMIN=admin
SEMAPHORE_ADMIN_DISPLAY_NAME="Semaphore Administrator"
SEMAPHORE_ADMIN_EMAIL="admin@zmb.rocks"
SEMAPHORE_ADMIN_PASSWORD='Start123'